<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Blog Posts</title>
  </head>

  <body>

  <form method="POST" action="/posts">
  <p>Blog Title: <input type="text" name="name"></p>
  <p>Blog Content: <input type="text" name="content"></p>
  <input type="submit">
</form>

  </body>
</html>
